@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --base: #778499;
  --spacing: 1rem;
  --blur: 10px;
}
/* using these css variable for styling and for js transitions */

body {
  margin: 0;
  background-color: #d4d6be;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
}

.image {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.controllers {
  margin-bottom: 2rem;
  padding-bottom: 30px;
}

input {
  width: 6rem;
}

.highlight {
  color: var(--base);
}
