@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --base: #778499;
  --spacing: .5rem;
  --blur: 0px;
  --degrees: 0;
  --radius: 0;
}
/* using these css variable for styling and for js transitions */

body {
  margin: 0;
  background-color: #d4d6be;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

.image {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  transform: rotate(var(--degrees));
  border-radius: var(--radius);
}

.controllers {
  margin-bottom: 2rem;
  padding-bottom: 45px;
}

label {
  padding: 13px;
}

input {
  width: 6rem;
}

.highlight {
  color: var(--base);
}
